<h1>Editing service</h1>

<%= render "form", service: @service %>

<br>

<div>
  <%= link_to "Show this service", @service, class:"btn btn-outline-dark btn-sm" %> |
  <%= link_to "Back to services", services_path, class:"btn btn-outline-dark btn-sm" %>
  <br><br>
  <%= button_to "Destroy this service", @service, class:"btn btn-outline-danger btn-sm", method: :delete %>
</div>
