<div id="<%= dom_id person %>">
  <p>
    <strong>First Name:</strong>
    <%= person.fname %>
  </p>

  <p>
    <strong>Last Name:</strong>
    <%= person.lname %>
  </p>

  <p>
    <strong>Email:</strong>
    <%= person.email %>
  </p>

</div>
