<h1>Editing person</h1>

<%= render "form", person: @person %>

<br>

<div>
  <%= link_to "Show this person", @person, class:"btn btn-outline-dark btn-sm" %> |
  <%= link_to "Back to people", people_path, class:"btn btn-outline-dark btn-sm" %>
  <br><br>
  <%= button_to "Destroy this person", @person, class:"btn btn-outline-danger btn-sm", method: :delete, data: { confirm: 'Are you sure?' } %><br>
</div>
