<h1>Editing trim</h1>

<%= render "form", trim: @trim %>

<br>

<div>
  <%= link_to "Show this trim", @trim, class:"btn btn-outline-dark btn-sm" %> |
  <%= link_to "Back to trims", trims_path, class:"btn btn-outline-dark btn-sm" %>
  <br><br>
  <%= button_to "Destroy this trim", @trim, class:"btn btn-outline-danger btn-sm", method: :delete %>
</div>
