<h1>Editing house</h1>

<%= render "form", house: @house %>

<br>

<div>
  <%= link_to "Show this house", @house, class:"btn btn-outline-dark btn-sm" %> 
  <%= link_to "Back to houses", houses_path, class:"btn btn-outline-dark btn-sm" %>
  <br><br>
  <%= button_to "Delete", @house, class:"btn btn-outline-danger btn-sm", method: :delete, data: { confirm: 'Are you sure?' }  %>
</div>
