<p style="color: green"><%= notice %></p>

<h1>Roughs</h1>

<div id="roughs">
  <% @roughs.each do |rough| %>
    <%= render rough %>
    <p>
      <%= link_to "Show this rough", rough, class:"btn btn-outline-dark btn-sm" %>
    </p>
  <% end %>
</div>

<%= link_to "New rough", new_rough_path, class:"btn btn-outline-dark btn-sm" %>
